 <header>
        <div class="header_top" id="home">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="logo text-left">
                    <h1>
                        <a class="navbar-brand" href="/">
                            <i class="fas fa-podcast"></i> TPE OIL & GAS</a>
                    </h1>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                              
                            </span>

                        </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-lg-auto text-right">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About Us</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/services">Our Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link tooltip-blog" href="blog.html">Blog <span>New</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Dropdown
                                       <i class="fas fa-angle-down"></i>
                                    </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="project.html">Projects</a>
                                <a class="dropdown-item" href="error.html" title="">404</a>


                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>

                    </ul>
                    <form action="#" method="post" class="form-inline my-2 my-lg-0 search">
                        <input class="form-control mr-sm-1" type="search" placeholder="" name="Search" required="">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>

            </nav>

        </div>
    </header>