 <div class="banner-inner">
    </div>
 

     <!--//banner-->
    <section class="banner-bottom">
        <div class="container">

            <!-- Three columns of text below the carousel -->
            <div class="row inner-sec-wthree">

                <div class="col-lg-5 bt-bottom-info" data-aos="fade-right">
                    <h3>TPE OIL & GAS AND MARINE SERVICES LIMITED (TPE)</h3>
                      <p class="mt-3">

                        TPE OIL & GAS AND MARINE SERVICES LIMITED is an indigenous oil and gas services company in Nigeria, West Africa that is into Special Transportation Services- Supply & Operations of various marine vessels; Technical Consultancy Services- Engineering, Procurement, Construction, Installation, Commission and Start Up services; Oilfield Equipment/Materials Supply Services; General Mechanical,Civil and Electrical Maintenance Services; Pipeline Inspection,
Maintenance and repairs services; Drilling Fluid and Production chemicals supply services; Manpower Supply services; Major Onshore & Offshore construction services;
 <img src="images/banner1.jpg" class="img-fluid" alt=" ">


                    </p>

                </div>
                <div class="col-lg-7 bt-bottom-info" data-aos="fade-left">
                    

                  
                    <p class="mt-3">
                        Subsea Engineering supply & services with Head Office at 8 Andoni off Rumuokurishi Treet Port Harcourt, Rivers State,  Nigeria
                        TPE OIL & GAS AND MARINE SERVICES LIMITED is affiliated with indigenous and multinational companies and these conglomerates can draw on the expertise of their various Local and international group members involved in the diverse fields of oil and gas operations, civil and building construction, maintenance services, engineering & procurement, equipment & general supply, petroleum product haulage services and printing services.

                    </p>
                    <p class="mt-3">
                        TPE OIL can guarantee to carry out its work in the highest possible professional manner to provide creative solutions to the client’s problems. TPE OIL has proven track record of success on development projects where most contractors have withdrawn their services because of apparent insurmountable community problems. These successes are derived from our commitment to demonstrate the integrated nature of engineering environment and people as stated on our Community Affairs, Safety Health, Environment and Security (CASHES) Policies.

                    </p>
                    <p class="mt-3">
                        TPE OIL is committed to the actualization of the design concept expressed on paper to the real world. We have in our company a team of experienced managers, engineers and technicians in engineering, pure and management sciences. TPE has a strong financial base predicated on sound financial management and reliable banks support. It is this strong financial base together with our pool of highly technically qualified and experienced manpower that we utilize to execute contracts on schedule to meet our client’s specification and satisfaction.

                    </p>
                </div>
            </div>
             <div class="row inner-sec-wthree">
                <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
                    <div class="bt-icon">

                        <span class="fas fa-trophy"></span>
                    </div>

                    <h4 class="sub-tittle">Humility</h4>
                    <p>Our words, Our bond. We deliver what we commit to.</p>
                   
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
                    <div class="bt-icon">
                        <span class="far fa-thumbs-up"></span>
                    </div>

                    <h4 class="sub-tittle">Excellence</h4>
                    <p>We delight in the quality of our Services delivered. It is class.</p>
                  
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
                    <div class="bt-icon">
                        <span class="fas fa-tv"></span>
                    </div>

                    <h4 class="sub-tittle">Innovation</h4>
                    <p>We Strive to find creative and innovative ways to improve everything we do.
</p>
                   
                </div>
                <!-- /.col-lg-4 -->
            </div>
        </div>
        <!-- /.row -->
    </section>
        <!-- /stats -->
    <section class="stats_test container-fluid">

        <div class="row inner_stat">
            <div class="col-lg-6 stats-left-info">
                <div class="row">
                    <div class="col-md-6 stats_left counter_grid">
                        <i class="far fa-building"></i>
                        <p class="counter">145</p>
                        <h4>Factories</h4>
                    </div>
                    <div class="col-md-6 stats_left counter_grid1">
                        <i class="fas fa-users"></i>
                        <p class="counter">165</p>
                        <h4>Workers</h4>
                    </div>
                    <div class="col-md-6 stats_left counter_grid2">
                        <i class="far fa-edit"></i>
                        <p class="counter">563</p>
                        <h4>Pojects</h4>
                    </div>
                    <div class="col-md-6 stats_left counter_grid3">
                        <i class="far fa-smile"></i>
                        <p class="counter">1045</p>
                        <h4>Happy Clients</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 stats-right-img">

            </div>
        </div>
    </section>
    <!-- //stats -->

        <!--/services-->
    <section class="services">
        <div class="container">
            <h3 class="tittle">Our Core Services</h3>
            <div class="row inner-sec-wthree">
                <div class="col-lg-4 grid_info_main" data-aos="flip-left">
                    <div class="grid_info">
                        <div class="icon_info">
                            <span class="icon">
								<i class="fas fa-laptop"></i>
							</span>
                            <h5>Engineering </h5>
                            <p>We have tremendous capacity in Engineering works, salvage works and diving operations.
</p>
                        </div>
                    </div>
                    <div class="grid_info second">
                        <div class="icon_info">
                            <span class="icon">
								<i class="far fa-clone"></i>
							</span>
                            <h5>Vessel Lease </h5>
                            <p>TPE OIL & GAS  undertakes projects in oil/vessels brokerage </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 grid_info_main mid" data-aos="flip-down">
                    <img src="images/ab.jpg" class="img-fluid" alt=" ">
                </div>
                <div class="col-lg-4 grid_info_main" data-aos="flip-right">
                    <div class="grid_info">
                        <div class="icon_info">
                            <span class="icon">
								<i class="fas fa-sitemap"></i>
							</span>
                            <h5>Marine Logistics </h5>
                            <p>Sea Tugs, AHTS, PSV, MPSV, Tankers and Self Propelled Product Carriers, House Boats, Barges, Ambulance Boats, Gunboats, Personnel Carriers, FPSO
</p>
                        </div>
                    </div>
                    <div class="grid_info second">
                        <div class="icon_info">
                            <span class="icon">
								<i class="fab fa-android"></i>
							</span>
                            <h5>Equipment Lease </h5>
                            <p>Hire and Sales of heavy equipments like Dredgers, Excavators ,Swamp Buggys, Industrial Pumps , Compressors , PIPES
</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--//services-->




    