    <div class="banner-inner">
    </div>
   <section class="services">
        <div class="container">
            <h3 class="tittle">Contact Us</h3>

            <div class="row inner-sec-wthree">
                <div class="address row">
                    <div class="col-md-4 address-grid-inf-w3layouts" data-aos="zoom-out">
                        <div class="address-info">
                            <div class="address-left">
                                <span class="fas fa-phone-volume" aria-hidden="true"></span>
                            </div>
                            <div class="address-right">
                                <h6>Phone Number</h6>
                                <p>+1 234 567 8901,+1 234 567 8901</p>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 address-grid-inf-w3layouts" data-aos="zoom-out">
                        <div class="address-info">
                            <div class="address-left">
                                <span class="far fa-envelope" aria-hidden="true"></span>
                            </div>
                            <div class="address-right">
                                <h6>Email Address</h6>
                                <p>Email :
                                    <a href="mailto:example@email.com"> mail@example.com</a>
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 address-grid-inf-w3layouts" data-aos="zoom-out">
                        <div class="address-info">
                            <div class="address-left">
                                <span class="fas fa-map-marker-alt" aria-hidden="true"></span>
                            </div>
                            <div class="address-right">
                                <h6>Location</h6>
                                <p>Portharcourt Rivers State

                                </p>
                            </div>
                        </div>
                    </div>

                </div>
      
                <div class="contact_grid_right">
                    <h6>Please fill this form to contact with us.</h6>
                    <form action="/contact" method="POST">
                        <div class="contact_left_grid">
                            <input type="text" name="name" placeholder="Name" required="">
                            <input type="email" name="email" placeholder="Email" required="">
                            <input type="text" name="subject" placeholder="Subject" required="">
                            <textarea name="message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                            <input type="submit" value="Submit">
                            <input type="reset" value="Clear">
                            <div class="clearfix"> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>