    <!--/banner-->
    <div class="banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-caption">
                        <h3>Welcome To TPE OIL & GAS </h3>

                        <div class="bnr-button">
                            <button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
								<i class="fas fa-play"></i>
							</button>
                        </div>

                    </div>
                </div>
                <div class="carousel-item item2">
                    <div class="carousel-caption">
                        <h3>OilField Equipment/Materials Supply and Services</h3>

                        <div class="bnr-button">
                            <button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
								<i class="fas fa-play"></i>
							</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item item3">
                    <div class="carousel-caption">
                        <h3>Pipeline Inspection, Maintenance and Repair Services</h3>

                        <div class="bnr-button">
                            <button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
								<i class="fas fa-play"></i>
							</button>
                        </div>

                    </div>
                </div>
                <div class="carousel-item item4">
                    <div class="carousel-caption">
                        <h3>Turning big ideas into great products</h3>

                        <div class="bnr-button">
                            <button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
								<i class="fas fa-play"></i>
							</button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
        </div>
    </div>
    <!--/model-->
        <!--/model-->
    <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Introduction Video</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
                </div>
                <div class="modal-body video">
                    <iframe src="https://player.vimeo.com/video/13618190" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div> 
    <!--//model-->
       <section class="banner-bottom">
        <div class="container">

            <!-- Three columns of text below the carousel -->
            <div class="row inner-sec-wthree">

                <div class="col-lg-5 bt-bottom-info" data-aos="fade-right">
                    <h5>TPE OIL & GAS AND MARINE SERVICES LIMITED (TPE)</h5>

                </div>
                <div class="col-lg-7 bt-bottom-info" data-aos="fade-left">
                    <p>TPE OIL is a conglomerate of companies with a shared vision to proffer innovative solutions to the oil and gas, power, marine, infrastructure, environmental industries in Sub-Saharan Africa unlocking new possibilities for our clients driven by a steady commitment and culture of purpose.</p>
                    <p>We are uniquely positioned to deliver greater efficiency across project lifecycles from concept to project delivery and beyond by challenging the industry conventions, and rethinking how the best results are achieved.
</p>
<p>We think ahead and seize opportunities for our clients, assuring them of our compentence and inspiring their trust at every step.
</p>
                </div>
            </div>
            <br />
             <h2 align="center">Core Values</h2>
            <div class="row inner-sec-wthree">
                <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
                    <div class="bt-icon">

                        <span class="fas fa-trophy"></span>
                    </div>

                    <h4 class="sub-tittle">Humility</h4>
                    <p>Our words, Our bond. We deliver what we commit to.</p>
                   
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
                    <div class="bt-icon">
                        <span class="far fa-thumbs-up"></span>
                    </div>

                    <h4 class="sub-tittle">Excellence</h4>
                    <p>We delight in the quality of our Services delivered. It is class.</p>
                   
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
                    <div class="bt-icon">
                        <span class="fas fa-tv"></span>
                    </div>

                    <h4 class="sub-tittle">Innovation</h4>
                    <p>We Strive to find creative and innovative ways to improve everything we do.
</p>
                   
                </div>
                <!-- /.col-lg-4 -->
            </div>
        </div>
        <!-- /.row -->
    </section>

        <!-- /stats -->
    <section class="stats_test container-fluid">

        <div class="row inner_stat">
            <div class="col-lg-6 stats-left-info">
                <div class="row">
                    <div class="col-md-6 stats_left counter_grid">
                        <i class="far fa-building"></i>
                        <p class="counter">145</p>
                        <h4>Factories</h4>
                    </div>
                    <div class="col-md-6 stats_left counter_grid1">
                        <i class="fas fa-users"></i>
                        <p class="counter">165</p>
                        <h4>Workers</h4>
                    </div>
                    <div class="col-md-6 stats_left counter_grid2">
                        <i class="far fa-edit"></i>
                        <p class="counter">563</p>
                        <h4>Pojects</h4>
                    </div>
                    <div class="col-md-6 stats_left counter_grid3">
                        <i class="far fa-smile"></i>
                        <p class="counter">1045</p>
                        <h4>Happy Clients</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 stats-right-img">

            </div>
        </div>
    </section>