 <div class="banner-inner">
    </div>
    <ol class="breadcrumb">
     
          <li class="breadcrumb-item">
       <h2 class="tittle">Our Policy</h2>
       </li>
    </ol>

     <section class="services">
        <div class="container">
           

           <h3 class="tittle">
               TPE OIL & GAS AND MARINE SERVICES LIMITED (TPE)
           </h3>
           <h2>QHSE Policy</h2>
           <p>Our Quality System (based on ISO 9000 quality standards) is designed to provide a framework for continuous improvement within the organization, minimize system errors and encourage documentation of problems solved.</p>
            <p>Quality Control & Quality Assurance Policy
</p>
<p>– Our policy is to understand the real needs of our customers, then meet and exceed those needs with complete and reliable engineering solutions, based on international standards.
– Our commitment is to satisfy our customers’ requirements, guarantee product specifications and give added value to our services.
</p>
<h2>Thus, we are fully committed to:</h2>
<p>– Maintaining our leadership position in customer service, product reliability and quality; it is the responsibility of every employee.
</p>
<p>– Maintenance of an effective Quality System based on ISO9001-2000 Quality System Standards.
</p>
<p>– Improving our Research and Development to support growth, product improvement, reliability, quality, cost competitiveness and customer satisfaction.
</p>

<h2>Health, Safety & Environment (HSE) Policy</h2>
<p>TPE OIL aims to be a reliable, cost effective provider of engineering services. This involves conducting our operations with the highest HSE standards.
</p>
<p>– We are committed to protecting the health & safety of our employees, customers, contractors, the community and other third parties in relation to all our activities.
</p>
<p>– We are committed to continuous improvement in our processes, to manage health, safety, and environmental performance.
</p>
<p>– We are committed to contributing to the continuity of our company through recognition, evaluation and control of hazards. We aim at zero incidents.
</p>
<p>– Our environmental policies and objectives will strictly adhere to all governing regulations, as a minimum.
</p>
<p>– We consider HSE to be everyone’s responsibility.
</p>
<p>– Every employee contributes to the prevention of accidents by identifying, analyzing, and controlling HSE hazards, supported by training programs adapted to their functions.
</p>
<h2>Our Total Quality Management</h2>
<p>TPE OIL is dedicated to Total Quality Management. Our driver for quality and customer satisfaction had resulted in strong growth over the years. The importance of Quality Control/Quality Assurance as well as Safety Management Constitutes the Central theme of the company’s operations.
</p>
        </div>
    </section>