 <div class="banner-inner">
    </div>
     <!--//banner-->
    <section class="banner-bottom">
        <div class="container">

            <!-- Three columns of text below the carousel -->
            <div class="row inner-sec-wthree">
                  <div>
                    <h3 align="center">Our Services</h3>
                    <p align="center">
                       We provide cutting edge engineering solutions in the marine, onshore, and offshore sectors
                    <img src="images/banner1.jpg" class="img-fluid" alt=" ">
                    </p>
                </div>
                <div class="col-lg-7 bt-bottom-info" data-aos="fade-left">
                  

                </div>
            </div>
             <div class="row inner-sec-wthree">
                <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
                    <div class="bt-icon">

                        <span class="fas fa-trophy"></span>
                    </div>

                    <h4 class="sub-tittle">Humility</h4>
                    <p>Our words, Our bond. We deliver what we commit to.</p>
                   
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
                    <div class="bt-icon">
                        <span class="far fa-thumbs-up"></span>
                    </div>

                    <h4 class="sub-tittle">Excellence</h4>
                    <p>We delight in the quality of our Services delivered. It is class.</p>
                   
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
                    <div class="bt-icon">
                        <span class="fas fa-tv"></span>
                    </div>

                    <h4 class="sub-tittle">Innovation</h4>
                    <p>We Strive to find creative and innovative ways to improve everything we do.
</p>
                   
                </div>
                <!-- /.col-lg-4 -->
            </div>
        </div>
        <!-- /.row -->
    </section>
        <!-- /stats -->
    <section class="stats_test container-fluid">

        <div class="row inner_stat">
            <div class="col-lg-6 stats-left-info">
                <div class="row">
                    <div class="col-md-6 stats_left counter_grid">
                        <i class="far fa-building"></i>
                        <p class="counter">145</p>
                        <h4>Factories</h4>
                    </div>
                    <div class="col-md-6 stats_left counter_grid1">
                        <i class="fas fa-users"></i>
                        <p class="counter">165</p>
                        <h4>Workers</h4>
                    </div>
                    <div class="col-md-6 stats_left counter_grid2">
                        <i class="far fa-edit"></i>
                        <p class="counter">563</p>
                        <h4>Pojects</h4>
                    </div>
                    <div class="col-md-6 stats_left counter_grid3">
                        <i class="far fa-smile"></i>
                        <p class="counter">1045</p>
                        <h4>Happy Clients</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 stats-right-img">

            </div>
        </div>
    </section>
    <!-- //stats -->

        <!--/services-->
    <section class="services">
        <div class="container">
            <h3 class="tittle">Our Services</h3>
            <div class="row inner-sec-wthree">
                <div class="col-lg-4 grid_info_main" data-aos="flip-left">
                    <div class="grid_info">
                        <div class="icon_info">
                            <span class="icon">
								<i class="fas fa-laptop"></i>
							</span>
                            <h5>Zero Downtimes </h5>
                            <p>We eliminate operations downtime for our clients

</p>
                        </div>
                    </div>
                    <div class="grid_info second">
                        <div class="icon_info">
                            <span class="icon">
								<i class="far fa-clone"></i>
							</span>
                            <h5>Timely Delivery </h5>
                            <p>We stick to project delivery lead times </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 grid_info_main mid" data-aos="flip-down">
                    <img src="images/ab.jpg" class="img-fluid" alt=" ">
                </div>
                <div class="col-lg-4 grid_info_main" data-aos="flip-right">
                    <div class="grid_info">
                        <div class="icon_info">
                            <span class="icon">
								<i class="fas fa-sitemap"></i>
							</span>
                            <h5>Competitive Prices </h5>
                            <p>Our services are both excellent and affordable
</p>
                        </div>
                    </div>
                    <div class="grid_info second">
                        <div class="icon_info">
                            <span class="icon">
								<i class="fab fa-android"></i>
							</span>
                            <h5>Perfect Execution​ </h5>
                            <p>We pay perfect attention to details.
</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--//services-->




    