 <div class="banner-inner">
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/dashboard">Back</a>
        </li>
        <li class="breadcrumb-item active">Single Page</li>
    </ol>
     <section class="services">
        <div class="container">
            <h3 class="tittle">Admin Success Page</h3>
             {{#if msg}}
                     <div class="alert alert-success" role="alert">
						<strong>Well done!</strong> {{msg}}
				   </div>
                 {{else}}
					 {{msg}}
                    {{/if}}
            <div class="row inner-sec-wthree">
                <div class="contact_grid_right">
                   
                </div>
            </div>
        </div>
    </section>