 <div class="banner-inner">
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Vision</li>
    </ol>

     <!--//banner-->
    <section class="banner-bottom">
        <div class="container">

            <!-- Three columns of text below the carousel -->
            <div class="row inner-sec-wthree">

                <div class="col-lg-5 bt-bottom-info" data-aos="fade-right">
                    <h3>Our Vision </h3>
                      <p class="mt-3">
                       We are industry leaders in our field.
                    </p>
                     <p class="mt-3">
                       To lead the way to the future of service delivery in the oil and gas industry through our top-notch and efficient onshore & offshore services which help to bridge the infrastructural gap, with the provision of state-of- the-art technological equipment, services and support.
                    </p>

                </div>
                <div class="col-lg-7 bt-bottom-info" data-aos="fade-left">
                    <img src="images/banner1.jpg" class="img-fluid" alt=" ">

                  
                   
                   
                </div>
            </div>
             <div class="row inner-sec-wthree">
                <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
                    <div class="bt-icon">

                        <span class="fas fa-trophy"></span>
                    </div>

                    <h4 class="sub-tittle">Humility</h4>
                    <p>Our words, Our bond. We deliver what we commit to.</p>
                   
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
                    <div class="bt-icon">
                        <span class="far fa-thumbs-up"></span>
                    </div>

                    <h4 class="sub-tittle">Excellence</h4>
                    <p>We delight in the quality of our Services delivered. It is class.</p>
                   
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
                    <div class="bt-icon">
                        <span class="fas fa-tv"></span>
                    </div>

                    <h4 class="sub-tittle">Innovation</h4>
                    <p>We Strive to find creative and innovative ways to improve everything we do.
</p>
                   
                </div>
                <!-- /.col-lg-4 -->
            </div>
        </div>
        <!-- /.row -->
    </section>
        <!-- /stats -->
    <section class="stats_test container-fluid">

        <div class="row inner_stat">
            <div class="col-lg-6 stats-left-info">
                <div class="row">
                    <div class="col-md-6 stats_left counter_grid">
                        <i class="far fa-building"></i>
                        <p class="counter">145</p>
                        <h4>Factories</h4>
                    </div>
                    <div class="col-md-6 stats_left counter_grid1">
                        <i class="fas fa-users"></i>
                        <p class="counter">165</p>
                        <h4>Workers</h4>
                    </div>
                    <div class="col-md-6 stats_left counter_grid2">
                        <i class="far fa-edit"></i>
                        <p class="counter">563</p>
                        <h4>Pojects</h4>
                    </div>
                    <div class="col-md-6 stats_left counter_grid3">
                        <i class="far fa-smile"></i>
                        <p class="counter">1045</p>
                        <h4>Happy Clients</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 stats-right-img">

            </div>
        </div>
    </section>
    <!-- //stats -->

        <!--/services-->
    <section class="services">
        <div class="container">
            <h3 class="tittle">Our Core Services</h3>
            <div class="row inner-sec-wthree">
                <div class="col-lg-4 grid_info_main" data-aos="flip-left">
                    <div class="grid_info">
                        <div class="icon_info">
                            <span class="icon">
								<i class="fas fa-laptop"></i>
							</span>
                            <h5>Engineering </h5>
                            <p>We have tremendous capacity in Engineering works, salvage works and diving operations.
</p>
                        </div>
                    </div>
                    <div class="grid_info second">
                        <div class="icon_info">
                            <span class="icon">
								<i class="far fa-clone"></i>
							</span>
                            <h5>Vessel Lease </h5>
                            <p>TPE OIL & GAS  undertakes projects in oil/vessels brokerage </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 grid_info_main mid" data-aos="flip-down">
                    <img src="images/ab.jpg" class="img-fluid" alt=" ">
                </div>
                <div class="col-lg-4 grid_info_main" data-aos="flip-right">
                    <div class="grid_info">
                        <div class="icon_info">
                            <span class="icon">
								<i class="fas fa-sitemap"></i>
							</span>
                            <h5>Marine Logistics </h5>
                            <p>Sea Tugs, AHTS, PSV, MPSV, Tankers and Self Propelled Product Carriers, House Boats, Barges, Ambulance Boats, Gunboats, Personnel Carriers, FPSO
</p>
                        </div>
                    </div>
                    <div class="grid_info second">
                        <div class="icon_info">
                            <span class="icon">
								<i class="fab fa-android"></i>
							</span>
                            <h5>Equipment Lease </h5>
                            <p>Hire and Sales of heavy equipments like Dredgers, Excavators ,Swamp Buggys, Industrial Pumps , Compressors , PIPES
</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--//services-->




    